@media only screen and (min-width: 768px) and (max-width: 1023px) {

	.content {
		margin: 5% 10%;
		display: grid;
		grid-template-columns: 70% 1fr;
	}
	.blog-archive {
		margin: 5% 10%;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: repeat(3, 1fr);
		grid-column-gap: 15px;
		grid-row-gap: 25px;
	}


}
