.article {
	padding: 0 5%;
}

.publish-date {
	color: #adadad;
	font-size: 14px;
	font-style: italic;
}

.author {
	margin: 20px 0;
	align-items: center;
	display: flex;
}

.avatar {
	width: 50px;
	border-radius: 50px;
	margin-right: 15px;
}

.bio {
	display: flex;
	flex-direction: column;
}

.author-name {
	color: #1b73a7;
	font-size: 16px;
}

.author-info {
	font-size: 12px;
	color: #a3a3a3;
	font-style: italic;
}

.author-description {
	font-size: 12px;
	color: #a3a3a3;
	text-decoration: underline;
	font-style: italic;

}

.caption {
	font-size: 12px;
	text-align: center;
}

.quote {
	background-color: #e9ebec;
	border-left: 3px solid #353E49;
	font-size: 16px;
	letter-spacing: 0.1em;
	margin: 1em 0;
	padding: 1em 2em;
}

.share {
	align-items: right;
	color: #25a9f5;
	display: flex;
	justify-content: center;
	margin: 5%;
}

.share i {
	margin: 0 8px;
}

.sidebar {
	border-left: 3px solid #eaeaea;
	padding: 0 8%;
}

.blog-archives,
.blog-categories {
	line-height: 1.5em;
	margin-top: 15px;
	display: flex;
	flex-direction: column;
}