@media only screen and (max-width: 767px) {
	
	.content {
		display: grid;
		grid-template-columns: 1fr;
		margin: 10%;
	}
	.blog-archive {
		margin: 10%;
		display: grid;
		grid-template-columns: 1fr;
		grid-row-gap: 50px;
	}


}